.transactionHistory {
  margin: 40px auto;
  width: 520px;
}

thead {
  background-color: #618685;
}

th,
td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #d5f4e6;
  cursor: pointer;
}
